[Unit]
Description={{ _self.description }}
{% if _self.before is defined %}Before={{ _self.before }}.target{% endif %}

[Service]
ExecStart={{ _self.exec }}
{% if _self.service is defined %}
{% for key, value in _self.service.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}

[Install]
WantedBy={{ _self.wanted_by }}.target
