[Unit]
Description={{ _self.description }}

[Service]
ExecStart={{ _self.exec }}
{% if _self.unit_file.service is defined %}
{% for key, value in _self.unit_file.service.items() | default({}) %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}

[Install]
WantedBy=multi-user.target
